:root {
  --main-color: #7a007fff;
  --accent-color2: rgb(222 149 255);
  --text-color: rgb(10 48 118);
  --bg-color: #b4c5e4ff;
  --accent-color1: rgb(255, 115, 0);
  --button-color: linear-gradient(yellow, orange);

  --main-font: "Roboto", sans-serif;
}

body {
  max-width: 1300px;
  margin: 0 auto;
  background: var(--bg-color);
}

/* header stuff */
header img {
  margin: 0 0.5rem;
  width: 120px;
  height: auto;
}

header {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 10rem 2fr 200px 1fr;
  gap: 60px;
  background: var(--main-color);
  margin-bottom: 14px;
}

header nav {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  border: double 3px #05000a;
  background-color: var(--accent-color2);
}

header nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  border-right: double 3px var(--accent1-color);
  padding-right: 40px;
}

header nav a:last-of-type {
  border-right: none;
}

header a {
  justify-self: last baseline;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: var(--accent-color1);
}

#join {
  width: 148px;
}

button {
  border-radius: 16px;
  background-image: var(--button-color);
  border-radius: 6px;
  padding: 0.8rem;
  width: 80%;
  box-shadow: 1px 1px 4px #9e2323;
  font-size: 1.2rem;
  font-weight: bold;
}

main {
  max-width: 100%;
  margin: 0 auto;
}

/* services */

main h1:first-of-type {
  padding-left: 20px;
  text-decoration: underline;
}

.fancy {
  position: relative;
  width: 650px;
  height: 486px;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  background: #e692f8;
  border-color: #ff3823;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
}

.fancy p {
  font-size: 50px;
  padding-left: 15px;
}

span {
  font-style: italic;
}

#services {
  text-align: center;
  position: relative;
  top: -360px;
  width: 1300px;
}

#hide {
  font-size: 30px;
}

.hide {
  display: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 25px;
  place-items: center;
  margin-bottom: 20px;
}

.card {
  border-radius: 50px 50px 0 0;
  background: linear-gradient(145deg, #450370, #a304ff);
  box-shadow: 20px 20px 60px #8103d5, -20px -20px 60px #af05ff;
  margin-top: 40px;
  width: 300px;
  color: var(--bg-color);
}

.card:hover {
  transform: translateY(-15px);
}

.card h2 {
  margin: 0;
}

.card p:last-of-type {
  padding-bottom: 10px;
}

/* Add Service */

#add {
  text-align: center;
}

#wf3 {
  border: 3px black solid;
  border-radius: 20px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 10px;
  margin-bottom: 20px;
  background-color: var(--accent-color2);
}

fieldset {
  border: none;
  text-align: left;
  padding: 5px;
  margin: 30px auto;
  font-size: larger;
}

fieldset:last-of-type {
  margin-bottom: 10px;
}

label {
  display: block;
  padding-top: 1rem;
  color: rgb(161, 15, 15);
  font-size: 0.9rem;
  margin: 0;
}

input[type="text"],
input[type="number"],
textarea,
select {
  background-color: rgb(131, 95, 151);
  border: solid 1.5px rgb(133, 15, 15);
  border-radius: 6px;
  padding: 0.75rem;
  width: 100%;
  max-width: 90%;
}

select {
  max-width: 96%;
}

textarea::placeholder {
  color: yellow;
}

input:required {
  border-left: solid 8px #db1414;
}

input:required:valid {
  border-left: solid 8px green;
  background-color: greenyellow;
}

button {
  border: none;
  background-image: var(--button-color);
  color: black;
  border-radius: 6px;
  padding: 0.8rem;
  width: 97%;
  box-shadow: 1px 1px 4px #9e2323;
  font-size: 1.2rem;
  font-weight: bold;
}
/* footer */
footer {
  background-color: rgb(63, 1, 90);
  text-align: center;
  font-size: medium;
  margin: 0;
}

footer p:first-of-type {
  padding-top: 15px;
  color: aliceblue;
}

footer p:last-of-type {
  padding-bottom: 15px;
  color: yellow;
  margin-bottom: 0;
}
