/* sidebar */

nav {
	margin: 90px 0 0 0;
	padding: 0;
	width: 100px;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
  }
  
  nav a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
  }
  
  nav a.active {
	background-color: #04aa6d;
	color: white;
  }
  
  nav a:hover:not(.active) {
	background-color: #555;
	color: white;
  }
  
  main {
	margin-left: 100px;
	padding: 1px 16px;
	height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
	nav {
	  width: 100%;
	  height: auto;
	  position: relative;
	}
	nav a {
	  float: left;
	}
	div.content {
	  margin-left: 0;
	}
  }
  
  @media screen and (max-width: 400px) {
	nav a {
	  text-align: center;
	  float: none;
	}
  }

/* Sign In */

.rectangle-2 {
	width: 420px;
	height: 673px;
	padding: 8px 8px 8px 8px;
	background: #FAFAFA;
	border-radius: 30px 30px 30px 30px;
}
.log-in-by-entering-your-email-address-and-password-1 {
	width: 256px;
	height: 48px;
	color: #7A7A7A;
	font-family: "Inter";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
	text-align: left;
}
.paragraph-1-copy-2 {
	width: 300px;
	height: 50px;
	color: #444444;
	font-family: "Figtree";
	font-weight: 800;
	font-size: 26px;
	line-height: 1;
	letter-spacing: -0.2px;
	text-align: left;
}
.button-14 {
	width: 300px;
	height: 48px;
	padding: 0px 10px 0px 10px;
	background: #7C4DFF;
	color: #FFFFFF;
	border-color: #7C4DFF;
	border-width: 1px;
	border-style: solid;
	border-radius: 9px 9px 9px 9px;
	font-family: "Inter";
	font-weight: 600;
	font-size: 16px;
	text-align: center;
}
.email-address-1 {
	width: 189px;
	height: 24px;
	color: #7A7A7A;
	font-family: "Inter";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}
.password-1 {
	width: 189px;
	height: 24px;
	color: #7A7A7A;
	font-family: "Inter";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}
.forgot-password-1 {
	width: 219px;
	height: 24px;
	color: #7C4DFF;
	font-family: "Inter";
	font-weight: 400;
	font-size: 14px;
	text-decoration: underline;
	line-height: 1.3;
	text-align: left;
}
.don-t-have-an-account-sign-up-here {
	width: 300px;
	height: 48px;
	color: #7A7A7A;
	font-family: "Inter";
	font-weight: 400;
	font-size: 14px;
	text-decoration: underline;
	line-height: 1.3;
	text-align: center;
}
.text-input-2 {
	width: 300px;
	height: 48px;
	padding: 0px 10px 0px 48px;
	background: #FFFFFF;
	color: #444444;
	border-color: #EBEBEB;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
	font-family: "Inter";
	font-weight: 500;
	font-size: 14px;
	text-align: left;
}
.mail-icon-1 {
	width: 21px;
	height: 21px;
	background: #7C4DFF;
}
.text-input-3 {
	width: 300px;
	height: 48px;
	padding: 0px 10px 0px 48px;
	background: #FFFFFF;
	color: #444444;
	border-color: #EBEBEB;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
	font-family: "Inter";
	font-weight: 500;
	font-size: 14px;
	text-align: left;
}
.lock-icon-2 {
	width: 21px;
	height: 21px;
	background: #7C4DFF;
}
.eye-icon-1 {
	width: 21px;
	height: 21px;
	background: #AAAAAA;
}
.remember-me-1 {
	width: 165px;
	height: 27px;
	color: #444444;
	font-family: "Inter";
	font-weight: 400;
	font-size: 14px;
	text-decoration: underline;
	line-height: 1.3;
	text-align: left;
}
.toggle-1 {
	width: 36px;
	height: 20px;
	background: #D6D6D6;
}
.horizontal-line-2 {
	width: 298px;
	height: 1px;
	border-color: #EBEBEB;
	border-width: 1px;
	border-style: solid;
}
.rectangle-1 {
	width: 31px;
	height: 20px;
	padding: 0px 8px 0px 8px;
	background: #FAFAFA;
	color: #929292;
	font-family: "Inter";
	font-weight: 400;
	font-size: 13px;
	line-height: 1.3;
	text-align: center;
}
.button-17 {
	width: 300px;
	height: 48px;
	padding: 0px 10px 0px 48px;
	background: #FFFFFF;
	color: #444444;
	border-color: #EBEBEB;
	border-width: 2px;
	border-style: solid;
	border-radius: 9px 9px 9px 9px;
	font-family: "Inter";
	font-weight: 600;
	font-size: 16px;
	text-align: center;
}
.google_-g-_logo-svg-1 {
	width: 21px;
	height: 21px;
	background: #00000000;
}

/* Create account */

.paragraph-1-copy-3 {
	width: 300px;
	height: 59px;
	color: #444444;
	font-family: "Figtree";
	font-weight: 800;
	font-size: 26px;
	line-height: 1;
	letter-spacing: -0.2px;
	text-align: left;
}
.by-creating-an-account-you-are-agree-to-the-terms {
	width: 300px;
	height: 50px;
	color: #7A7A7A;
	font-family: "Inter";
	font-weight: 400;
	font-size: 14px;
	text-decoration: underline;
	line-height: 1.4;
	text-align: left;
}
.rectangle-3 {
	width: 420px;
	height: 673px;
	padding: 8px 8px 8px 8px;
	background: #FAFAFA;
	border-radius: 30px 30px 30px 30px;
}
.button-15 {
	width: 300px;
	height: 48px;
	padding: 0px 10px 0px 10px;
	background: #7C4DFF;
	color: #FFFFFF;
	border-color: #7C4DFF;
	border-width: 1px;
	border-style: solid;
	border-radius: 9px 9px 9px 9px;
	font-family: "Inter";
	font-weight: 600;
	font-size: 16px;
	text-align: center;
}
.email-address-2 {
	width: 189px;
	height: 24px;
	color: #7A7A7A;
	font-family: "Inter";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}
.password-2 {
	width: 189px;
	height: 24px;
	color: #7A7A7A;
	font-family: "Inter";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}
.already-have-an-account-log-in-here {
	width: 300px;
	height: 39px;
	color: #7A7A7A;
	font-family: "Inter";
	font-weight: 400;
	font-size: 14px;
	text-decoration: underline;
	line-height: 1.3;
	text-align: center;
}
.checkbox-1 {
	width: 297px;
	height: 20px;
	background: #FFFFFF;
	color: #444444;
	border-color: #444444;
	border-width: 1.5px;
	border-style: solid;
	font-family: "Inter";
	font-weight: 400;
	font-size: 14px;
	text-align: left;
}
.text-input-4 {
	width: 300px;
	height: 48px;
	padding: 0px 10px 0px 48px;
	background: #FFFFFF;
	color: #444444;
	border-color: #EBEBEB;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
	font-family: "Inter";
	font-weight: 500;
	font-size: 14px;
	text-align: left;
}
.mail-icon-2 {
	width: 21px;
	height: 21px;
	background: #7C4DFF;
}
.horizontal-line-3 {
	width: 298px;
	height: 1px;
	border-color: #EBEBEB;
	border-width: 1px;
	border-style: solid;
}
.rectangle-4 {
	width: 31px;
	height: 20px;
	padding: 0px 8px 0px 8px;
	background: #FAFAFA;
	color: #929292;
	font-family: "Inter";
	font-weight: 400;
	font-size: 13px;
	line-height: 1.3;
	text-align: center;
}
.text-input-5 {
	width: 300px;
	height: 48px;
	padding: 0px 10px 0px 48px;
	background: #FFFFFF;
	color: #444444;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
	font-family: "Inter";
	font-weight: 500;
	font-size: 14px;
	text-align: left;
}
.lock-icon-3 {
	width: 21px;
	height: 21px;
	background: #7C4DFF;
}
.eye-icon-2 {
	width: 21px;
	height: 21px;
	background: #AAAAAA;
}
.button-18 {
	width: 300px;
	height: 48px;
	padding: 0px 10px 0px 48px;
	background: #FFFFFF;
	color: #444444;
	border-color: #EBEBEB;
	border-width: 2px;
	border-style: solid;
	border-radius: 9px 9px 9px 9px;
	font-family: "Inter";
	font-weight: 600;
	font-size: 16px;
	text-align: center;
}
.google_-g-_logo-svg-2 {
	width: 21px;
	height: 21px;
	background: #00000000;
}

/* Forgot Password */

.paragraph-1-copy-4 {
	width: 300px;
	height: 59px;
	color: #444444;
	font-family: "Montserrat";
	font-weight: 800;
	font-size: 24px;
	line-height: 1;
	letter-spacing: -0.2px;
	text-align: left;
}
.rectangle-5 {
	width: 420px;
	height: 673px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 30px 30px 30px 30px;
}
.enter-your-email-and-we-ll-send-you-a-link-to-rese {
	width: 300px;
	height: 48px;
	color: #7A7A7A;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 15px;
	line-height: 1.3;
	text-align: left;
}
.button-16 {
	width: 300px;
	height: 48px;
	padding: 0px 10px 0px 10px;
	background: #444444;
	color: #FFFFFF;
	border-color: #444444;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Source Sans 3";
	font-weight: 600;
	font-size: 18px;
	text-align: center;
}
.email-address-3 {
	width: 189px;
	height: 24px;
	color: #7A7A7A;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}
.go-back-to-sign-in- {
	width: 300px;
	height: 48px;
	color: #444444;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 15px;
	text-decoration: underline;
	line-height: 1.3;
	text-align: center;
}
.text-input-6 {
	width: 300px;
	height: 48px;
	padding: 0px 10px 0px 48px;
	background: #FFFFFF;
	color: #444444;
	border-color: #D6D6D6;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Source Sans 3";
	font-weight: 500;
	font-size: 16px;
	text-align: left;
}
.mail-icon-3 {
	width: 21px;
	height: 21px;
	background: #7A7A7A;
}

/* Check Email */

.rectangle-6 {
	width: 420px;
	height: 673px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 30px 30px 30px 30px;
}
.paragraph-1-copy-5 {
	width: 300px;
	height: 59px;
	color: #444444;
	font-family: "Montserrat";
	font-weight: 800;
	font-size: 24px;
	line-height: 1;
	letter-spacing: -0.2px;
	text-align: left;
}
.we-have-sent-a-password-recovery-instructions-to-y {
	width: 300px;
	height: 48px;
	color: #7A7A7A;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 15px;
	line-height: 1.3;
	text-align: left;
}
.button-19 {
	width: 300px;
	height: 48px;
	padding: 0px 10px 0px 10px;
	background: #444444;
	color: #FFFFFF;
	border-color: #444444;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Source Sans 3";
	font-weight: 600;
	font-size: 18px;
	text-align: center;
}
.didn-t-receive-the-email-check-your-spam-folder-o {
	width: 300px;
	height: 48px;
	color: #7A7A7A;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 15px;
	text-decoration: underline;
	line-height: 1.3;
	text-align: left;
}

/* New password */

.paragraph-1-copy-6 {
	width: 300px;
	height: 59px;
	color: #444444;
	font-family: "Montserrat";
	font-weight: 800;
	font-size: 24px;
	line-height: 1;
	letter-spacing: -0.2px;
	text-align: left;
}
.button-20 {
	width: 300px;
	height: 48px;
	padding: 0px 10px 0px 10px;
	background: #444444;
	color: #FFFFFF;
	border-color: #444444;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Source Sans 3";
	font-weight: 600;
	font-size: 18px;
	text-align: center;
}
.rectangle-7 {
	width: 420px;
	height: 673px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 30px 30px 30px 30px;
}
.your-new-password-must-be-different-from-previousl {
	width: 300px;
	height: 74px;
	color: #7A7A7A;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 15px;
	line-height: 1.3;
	text-align: left;
}
.new-password {
	width: 189px;
	height: 24px;
	color: #7A7A7A;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}
.go-back-to-sign-in- {
	width: 300px;
	height: 48px;
	color: #444444;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 15px;
	text-decoration: underline;
	line-height: 1.3;
	text-align: center;
}
.confirm-password {
	width: 189px;
	height: 24px;
	color: #7A7A7A;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}
.text-input-7 {
	width: 300px;
	height: 48px;
	padding: 0px 10px 0px 48px;
	background: #FFFFFF;
	color: #444444;
	border-color: #D6D6D6;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Source Sans 3";
	font-weight: 500;
	font-size: 16px;
	text-align: left;
}
.lock-icon-4 {
	width: 21px;
	height: 21px;
	background: #7A7A7A;
}
.eye-icon-3 {
	width: 21px;
	height: 21px;
	background: #AAAAAA;
}
.text-input-8 {
	width: 300px;
	height: 48px;
	padding: 0px 10px 0px 48px;
	background: #FFFFFF;
	color: #444444;
	border-color: #D6D6D6;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Source Sans 3";
	font-weight: 500;
	font-size: 16px;
	text-align: left;
}
.lock-icon-5 {
	width: 21px;
	height: 21px;
	background: #7A7A7A;
}
.eye-icon-4 {
	width: 21px;
	height: 21px;
	background: #AAAAAA;
}

/* Verify */

.rectangle-8 {
	width: 420px;
	height: 673px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 30px 30px 30px 30px;
}
.paragraph-1-copy-7 {
	width: 300px;
	height: 59px;
	color: #444444;
	font-family: "Montserrat";
	font-weight: 800;
	font-size: 24px;
	line-height: 1;
	letter-spacing: -0.2px;
	text-align: left;
}
.we-just-sent-a-six-digit-code-to-453-phone-numb {
	width: 300px;
	height: 48px;
	color: #7A7A7A;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 15px;
	line-height: 1.3;
	text-align: left;
}
.button-21 {
	width: 300px;
	height: 48px;
	padding: 0px 10px 0px 10px;
	background: #444444;
	color: #FFFFFF;
	border-color: #444444;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Source Sans 3";
	font-weight: 600;
	font-size: 18px;
	text-align: center;
}
.activation-code {
	width: 189px;
	height: 24px;
	color: #7A7A7A;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}
.go-back-to-sign-in- {
	width: 300px;
	height: 48px;
	color: #444444;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 15px;
	text-decoration: underline;
	line-height: 1.3;
	text-align: center;
}
.horizontal-line-3 {
	width: 13px;
	height: 1px;
	border-color: #C0C0C0;
	border-width: 3px;
	border-style: solid;
}
.didn-t-receive-the-code-re-send- {
	width: 300px;
	height: 48px;
	color: #7A7A7A;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 15px;
	text-decoration: underline;
	line-height: 1.3;
	text-align: left;
}
.text-input-9 {
	width: 40px;
	height: 48px;
	padding: 0px 10px 0px 10px;
	background: #FFFFFF;
	color: #444444;
	border-color: #D6D6D6;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Source Sans 3";
	font-weight: 500;
	font-size: 26px;
	text-align: center;
}
.text-input-10 {
	width: 40px;
	height: 48px;
	padding: 0px 10px 0px 10px;
	background: #FFFFFF;
	color: #444444;
	border-color: #D6D6D6;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Source Sans 3";
	font-weight: 500;
	font-size: 26px;
	text-align: center;
}
.text-input-11 {
	width: 40px;
	height: 48px;
	padding: 0px 10px 0px 10px;
	background: #FFFFFF;
	color: #444444;
	border-color: #D6D6D6;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Source Sans 3";
	font-weight: 500;
	font-size: 26px;
	text-align: center;
}
.text-input-12 {
	width: 40px;
	height: 48px;
	padding: 0px 10px 0px 10px;
	background: #FFFFFF;
	color: #444444;
	border-color: #D6D6D6;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Source Sans 3";
	font-weight: 500;
	font-size: 26px;
	text-align: center;
}
.text-input-13 {
	width: 40px;
	height: 48px;
	padding: 0px 10px 0px 10px;
	background: #FFFFFF;
	color: #444444;
	border-color: #D6D6D6;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Source Sans 3";
	font-weight: 500;
	font-size: 26px;
	text-align: center;
}
.text-input-14 {
	width: 40px;
	height: 48px;
	padding: 0px 10px 0px 10px;
	background: #FFFFFF;
	color: #444444;
	border-color: #D6D6D6;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Source Sans 3";
	font-weight: 500;
	font-size: 26px;
	text-align: center;
}

/* Add Freelancer */

.combo-box-1 {
	width: 240px;
	height: 42px;
	padding: 6px 8px 6px 8px;
	background: #FFFFFF;
	color: #7A7A7A;
	border-color: #D6D6D6;
	border-width: 2px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 18px;
	text-align: left;
}
.paragraph-3-copy-15 {
	width: 139px;
	height: 31px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 700;
	font-size: 24px;
	line-height: 1.3;
	letter-spacing: -0.2px;
	text-align: left;
}
.paragraph-3-copy-16 {
	width: 101px;
	height: 34px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
}
.rectangle-3-copy-4 {
	width: 862px;
	height: 580px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 16px 16px 16px 16px;
}
.text-input-1 {
	width: 240px;
	height: 42px;
	padding: 6px 8px 6px 8px;
	background: #FFFFFF;
	color: #C0C0C0;
	border-color: #D6D6D6;
	border-width: 2px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 18px;
	text-align: left;
}
.paragraph-3-copy-22 {
	width: 152px;
	height: 34px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	text-align: center;
}
.close-icon-1 {
	width: 24px;
	height: 24px;
	background: #444444;
}
.image-placeholder-1-copy-7 {
	width: 152px;
	height: 152px;
	background: #F7F6F6;
	border-color: #FFFFFF;
	border-width: 2px;
	border-style: solid;
	border-radius: 25px 25px 25px 25px;
}
.button-1-copy-1 {
	width: 152px;
	height: 42px;
	padding: 0px 10px 1px 10px;
	background: #606060;
	color: #FFFFFF;
	border-radius: 3px 3px 3px 3px;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 18px;
	text-align: center;
}
.text-input-5 {
	width: 240px;
	height: 42px;
	padding: 6px 8px 6px 8px;
	background: #FFFFFF;
	color: #C0C0C0;
	border-color: #D6D6D6;
	border-width: 2px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 18px;
	text-align: left;
}
.text-input-2 {
	width: 509px;
	height: 42px;
	padding: 6px 8px 6px 8px;
	background: #FFFFFF;
	color: #C0C0C0;
	border-color: #D6D6D6;
	border-width: 2px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 18px;
	text-align: left;
}
.text-input-4 {
	width: 240px;
	height: 42px;
	padding: 6px 8px 6px 8px;
	background: #FFFFFF;
	color: #C0C0C0;
	border-color: #D6D6D6;
	border-width: 2px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 18px;
	text-align: left;
}
.button-1-copy-2 {
	width: 137px;
	height: 42px;
	padding: 0px 10px 1px 10px;
	background: #444444;
	color: #FFFFFF;
	border-radius: 3px 3px 3px 3px;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 18px;
	text-align: center;
}
.button-1-copy-3 {
	width: 137px;
	height: 42px;
	padding: 0px 10px 1px 10px;
	background: #EBEBEB;
	color: #444444;
	border-radius: 3px 3px 3px 3px;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 18px;
	text-align: center;
}
.checkbox-1 {
	width: 208px;
	height: 23px;
	background: #444444;
	color: #444444;
	border-color: #444444;
	border-width: 2px;
	border-style: solid;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 16px;
	text-align: left;
}
.horizontal-line-2 {
	width: 383px;
	height: 1px;
	transform: rotate(-90deg);
	opacity: 30%;
	border-color: #AAAAAA;
	border-width: 1px;
	border-style: solid;
}

/* Visitors */

.rectangle-5 {
	width: 1366px;
	height: 76px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
}
.rectangle-9 {
	width: 76px;
	height: 1386px;
	padding: 8px 8px 8px 8px;
	background: #EBEBEB;
}
.rectangle-4 {
	width: 76px;
	height: 76px;
	padding: 8px 8px 8px 8px;
	background: #444444;
}
.menu-icon-1 {
	width: 28px;
	height: 28px;
	background: #FFFFFF;
}
.horizontal-line-1 {
	width: 1366px;
	height: 0px;
	opacity: 30%;
	border-color: #AAAAAA;
	border-width: 1px;
	border-style: solid;
}
.at-sign-icon-1 {
	width: 32px;
	height: 32px;
	background: #444444;
}
.paragraph-1-copy-8 {
	width: 171px;
	height: 34px;
	color: #444444;
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 22px;
	line-height: 1.28;
	text-align: left;
}
.search-icon-2 {
	width: 28px;
	height: 28px;
	background: #444444;
}
.rectangle-3-copy-2 {
	width: 380px;
	height: 93px;
	padding: 8px 8px 8px 8px;
	background: #444444;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 16px 16px 16px 16px;
}
.paragraph-3-copy-8 {
	width: 130px;
	height: 26px;
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-22 {
	width: 196px;
	height: 21px;
	opacity: 50%;
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.home-icon-1 {
	width: 28px;
	height: 28px;
	background: #606060;
}
.rectangle-3-copy-5 {
	width: 380px;
	height: 93px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 16px 16px 16px 16px;
}
.flag-icon-1 {
	width: 28px;
	height: 28px;
	background: #606060;
}
.paragraph-3-copy-10 {
	width: 116px;
	height: 26px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-23 {
	width: 155px;
	height: 21px;
	opacity: 50%;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.pie-chart-icon-1 {
	width: 28px;
	height: 28px;
	background: #606060;
}
.rectangle-3-copy-6 {
	width: 380px;
	height: 93px;
	padding: 8px 8px 8px 8px;
	background: #F6F6F6;
	border-color: #F6F6F6;
	border-width: 1px;
	border-style: solid;
	border-radius: 16px 16px 16px 16px;
}
.paragraph-3-copy-12 {
	width: 95px;
	height: 26px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
}
.mail-icon-1 {
	width: 28px;
	height: 28px;
	background: #606060;
}
.paragraph-3-copy-9 {
	width: 63px;
	height: 36px;
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 28px;
	line-height: 1.3;
	text-align: right;
}
.paragraph-3-copy-11 {
	width: 63px;
	height: 36px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 28px;
	line-height: 1.3;
	text-align: right;
}
.paragraph-3-copy-24 {
	width: 183px;
	height: 21px;
	opacity: 50%;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-13 {
	width: 29px;
	height: 36px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 28px;
	line-height: 1.3;
	text-align: right;
}
.collections-icon-1 {
	width: 28px;
	height: 28px;
	background: #606060;
}
.rectangle-3-copy-4 {
	width: 1170px;
	height: 369px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 16px 16px 16px 16px;
}
.paragraph-3-copy-15 {
	width: 274px;
	height: 26px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
}
.event-icon-1 {
	width: 28px;
	height: 28px;
	background: #606060;
}
.rectangle-3-copy-3 {
	width: 760px;
	height: 320px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 16px 16px 16px 16px;
}
.chart-2 {
	width: 1055px;
	height: 250px;
}
.rectangle-15 {
	width: 48px;
	height: 48px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-radius: 9px 9px 9px 9px;
}
.people-alt-icon-1 {
	width: 28px;
	height: 28px;
	background: #444444;
}
.paragraph-3-copy-14 {
	width: 130px;
	height: 26px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
}
.chart-1 {
	width: 700px;
	height: 220px;
}
.settings-icon-1 {
	width: 28px;
	height: 28px;
	background: #606060;
}
.paragraph-3-copy-16 {
	width: 98px;
	height: 26px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-17 {
	width: 103px;
	height: 26px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
}
.rectangle-3-copy-1 {
	width: 380px;
	height: 407px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 16px 16px 16px 16px;
}
.rectangle-3-copy-7 {
	width: 760px;
	height: 407px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 16px 16px 16px 16px;
}
.paragraph-3-copy-5 {
	width: 208px;
	height: 21px;
	color: #606060;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-19 {
	width: 188px;
	height: 341px;
	color: #606060;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 16px;
	text-decoration: underline;
	line-height: 3;
	text-align: left;
}
.paragraph-3-copy-20 {
	width: 49px;
	height: 341px;
	color: #999999;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 16px;
	line-height: 3;
	text-align: right;
}
.image-placeholder-1-copy-4 {
	width: 42px;
	height: 42px;
	background: #EBEBEB;
	border-radius: 21px 21px 21px 21px;
}
.circle-1 {
	width: 9px;
	height: 9px;
	background: #AAAAAA;
	border-color: #AAAAAA;
	border-width: 1px;
	border-style: solid;
}
.paragraph-3-copy-7 {
	width: 70px;
	height: 21px;
	color: #AAAAAA;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.vertical-line-1 {
	width: 1px;
	height: 315px;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
}
.circle-2 {
	width: 9px;
	height: 9px;
	background: #AAAAAA;
	border-color: #AAAAAA;
	border-width: 1px;
	border-style: solid;
}
.circle-3 {
	width: 9px;
	height: 9px;
	background: #AAAAAA;
	border-color: #AAAAAA;
	border-width: 1px;
	border-style: solid;
}
.paragraph-2 {
	width: 646px;
	height: 79px;
	opacity: 80%;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 16px;
	text-decoration: underline;
	line-height: 1.3;
	text-align: left;
}
.horizontal-line-2 {
	width: 700px;
	height: 1px;
	opacity: 30%;
	border-color: #AAAAAA;
	border-width: 1px;
	border-style: solid;
}
.notifications-icon-1 {
	width: 28px;
	height: 28px;
	background: #444444;
}
.rectangle-6 {
	width: 24px;
	height: 24px;
	padding: 0px 8px 0px 8px;
	background: #D6D6D6;
	color: #232323;
	border-color: #FFFFFF;
	border-width: 2px;
	border-style: solid;
	border-radius: 25px 25px 25px 25px;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
	text-align: center;
}
.button-1 {
	width: 110px;
	height: 28px;
	padding: 0px 10px 2px 10px;
	background: #EBEBEB;
	color: #7A7A7A;
	border-radius: 16px 16px 16px 16px;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 15px;
	text-align: center;
}
.paragraph-3-copy-6 {
	width: 121px;
	height: 23px;
	color: #232323;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	text-align: right;
}
.paragraph-3-copy-6 {
	width: 100px;
	height: 18px;
	color: #AAAAAA;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: right;
}
.button-2 {
	width: 75px;
	height: 28px;
	padding: 0px 10px 2px 10px;
	background: #EBEBEB;
	color: #7A7A7A;
	border-radius: 16px 16px 16px 16px;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 15px;
	text-align: center;
}
.rectangle-8 {
	width: 34px;
	height: 34px;
	padding: 8px 8px 8px 8px;
	background: #EBEBEB;
	border-radius: 0.6875px 0.6875px 0.6875px 0.6875px;
}
.settings-icon-2 {
	width: 21px;
	height: 21px;
	background: #444444;
}
.circle-4 {
	width: 9px;
	height: 9px;
	background: #232323;
	border-color: #AAAAAA;
	border-width: 1px;
	border-style: solid;
}
.paragraph-3-copy-18 {
	width: 208px;
	height: 21px;
	color: #606060;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.image-placeholder-1-copy-5 {
	width: 42px;
	height: 42px;
	background: #EBEBEB;
	border-radius: 21px 21px 21px 21px;
}
.image-placeholder-1-copy-3 {
	width: 42px;
	height: 42px;
	background: #EBEBEB;
	border-radius: 21px 21px 21px 21px;
}
.button-3 {
	width: 75px;
	height: 28px;
	padding: 0px 10px 2px 10px;
	background: #444444;
	color: #FFFFFF;
	border-radius: 16px 16px 16px 16px;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 15px;
	text-align: center;
}
.button-4 {
	width: 75px;
	height: 28px;
	padding: 0px 10px 2px 10px;
	background: #EBEBEB;
	color: #7A7A7A;
	border-radius: 16px 16px 16px 16px;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 15px;
	text-align: center;
}
.paragraph-3-copy-21 {
	width: 70px;
	height: 21px;
	color: #AAAAAA;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.circle-5 {
	width: 9px;
	height: 9px;
	background: #AAAAAA;
	border-color: #AAAAAA;
	border-width: 1px;
	border-style: solid;
}
.scrollbar-1 {
	width: 11px;
	height: 407px;
	background: #E6E6E6;
	border-radius: 12px 12px 12px 12px;
}
.paragraph-3 {
	width: 646px;
	height: 79px;
	opacity: 80%;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 16px;
	text-decoration: underline;
	line-height: 1.3;
	text-align: left;
}
.circle-6 {
	width: 9px;
	height: 9px;
	background: #AAAAAA;
	border-color: #AAAAAA;
	border-width: 1px;
	border-style: solid;
}
.circle-7 {
	width: 9px;
	height: 9px;
	background: #FFFFFF;
	border-color: #AAAAAA;
	border-width: 1px;
	border-style: solid;
}

/* Sales */

.rectangle-5 {
	width: 1366px;
	height: 76px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
}
.rectangle-9 {
	width: 76px;
	height: 1192px;
	padding: 8px 8px 8px 8px;
	background: #EBEBEB;
}
.rectangle-4 {
	width: 76px;
	height: 76px;
	padding: 8px 8px 8px 8px;
	background: #444444;
}
.rectangle-3-copy {
	width: 270px;
	height: 138px;
	padding: 8px 8px 8px 8px;
	background: #444444;
	border-color: #444444;
	border-width: 1px;
	border-style: solid;
	border-radius: 16px 16px 16px 16px;
}
.horizontal-line-1 {
	width: 1366px;
	height: 0px;
	opacity: 30%;
	border-color: #AAAAAA;
	border-width: 1px;
	border-style: solid;
}
.search-icon-2 {
	width: 28px;
	height: 28px;
	background: #444444;
}
.at-sign-icon-1 {
	width: 32px;
	height: 32px;
	background: #444444;
}
.paragraph-1-copy-8 {
	width: 171px;
	height: 34px;
	color: #444444;
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 22px;
	line-height: 1.28;
	text-align: left;
}
.menu-icon-1 {
	width: 28px;
	height: 28px;
	background: #FFFFFF;
}
.rectangle-15 {
	width: 48px;
	height: 48px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-radius: 9px 9px 9px 9px;
}
.home-icon-1 {
	width: 28px;
	height: 28px;
	background: #444444;
}
.paragraph-3-copy-6 {
	width: 92px;
	height: 26px;
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-6 {
	width: 77px;
	height: 36px;
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 28px;
	line-height: 1.3;
	text-align: left;
}
.local-mall-icon-1 {
	width: 36px;
	height: 36px;
	background: #FFFFFF;
}
.flag-icon-1 {
	width: 28px;
	height: 28px;
	background: #606060;
}
.rectangle-3-copy-1 {
	width: 270px;
	height: 138px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 16px 16px 16px 16px;
}
.paragraph-3-copy-8 {
	width: 110px;
	height: 26px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-9 {
	width: 145px;
	height: 36px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 28px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-20 {
	width: 43px;
	height: 21px;
	opacity: 50%;
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-21 {
	width: 49px;
	height: 21px;
	opacity: 50%;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.rectangle-3-copy {
	width: 797px;
	height: 346px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 16px 16px 16px 16px;
}
.pie-chart-icon-1 {
	width: 28px;
	height: 28px;
	background: #606060;
}
.monetization-on-icon-1 {
	width: 36px;
	height: 36px;
	background: #444444;
}
.paragraph-3-copy-24 {
	width: 160px;
	height: 26px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
}
.mail-icon-1 {
	width: 28px;
	height: 28px;
	background: #606060;
}
.chart-1 {
	width: 703px;
	height: 224px;
}
.rectangle-3-copy-2 {
	width: 270px;
	height: 138px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 16px 16px 16px 16px;
}
.paragraph-3-copy-16 {
	width: 121px;
	height: 26px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-17 {
	width: 77px;
	height: 36px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 28px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-22 {
	width: 43px;
	height: 21px;
	opacity: 50%;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.collections-icon-1 {
	width: 28px;
	height: 28px;
	background: #606060;
}
.rectangle-8 {
	width: 34px;
	height: 34px;
	padding: 8px 8px 8px 8px;
	background: #EBEBEB;
	border-radius: 0.6875px 0.6875px 0.6875px 0.6875px;
}
.settings-icon-2 {
	width: 21px;
	height: 21px;
	background: #444444;
}
.event-icon-1 {
	width: 28px;
	height: 28px;
	background: #606060;
}
.people-alt-icon-2 {
	width: 36px;
	height: 36px;
	background: #444444;
}
.rectangle-3-copy {
	width: 341px;
	height: 346px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 16px 16px 16px 16px;
}
.paragraph-3-copy-25 {
	width: 163px;
	height: 26px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
}
.people-alt-icon-1 {
	width: 28px;
	height: 28px;
	background: #606060;
}
.chart-2 {
	width: 255px;
	height: 238px;
}
.rectangle-3-copy-3 {
	width: 270px;
	height: 138px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 16px 16px 16px 16px;
}
.notifications-icon-1 {
	width: 28px;
	height: 28px;
	background: #444444;
}
.paragraph-3-copy-18 {
	width: 140px;
	height: 26px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-19 {
	width: 74px;
	height: 36px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 28px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-23 {
	width: 46px;
	height: 21px;
	opacity: 50%;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.rectangle-6 {
	width: 24px;
	height: 24px;
	padding: 0px 8px 0px 8px;
	background: #D6D6D6;
	color: #232323;
	border-color: #FFFFFF;
	border-width: 2px;
	border-style: solid;
	border-radius: 25px 25px 25px 25px;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
	text-align: center;
}
.settings-icon-1 {
	width: 28px;
	height: 28px;
	background: #606060;
}
.rectangle-3-copy-4 {
	width: 1170px;
	height: 440px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #D6D6D6;
	border-width: 1px;
	border-style: solid;
	border-radius: 16px 16px 16px 16px;
}
.paragraph-3-copy-26 {
	width: 155px;
	height: 26px;
	color: #444444;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-3-copy-6 {
	width: 121px;
	height: 23px;
	color: #232323;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	text-align: right;
}
.table-1 {
	width: 1168px;
	height: 275px;
	border-color: #EBEBEB;
	border-width: 1px;
	border-style: solid;
}
.paragraph-3-copy-6 {
	width: 100px;
	height: 18px;
	color: #AAAAAA;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: right;
}
.how-to-reg-icon-1 {
	width: 36px;
	height: 36px;
	background: #444444;
}
.rectangle-7 {
	width: 34px;
	height: 34px;
	padding: 8px 8px 8px 8px;
	background: #EBEBEB;
	border-radius: 0.6875px 0.6875px 0.6875px 0.6875px;
}
.settings-icon-4 {
	width: 21px;
	height: 21px;
	background: #444444;
}
.image-placeholder-1-copy-3 {
	width: 42px;
	height: 42px;
	background: #EBEBEB;
	border-radius: 21px 21px 21px 21px;
}
.tabs-3 {
	width: 274px;
	height: 40px;
	background: #F6F6F6;
	color: #232323;
	border-color: #FFFFFF;
	border-width: 6px;
	border-style: solid;
	border-radius: 12px 12px 12px 12px;
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 14px;
	text-align: center;
}