/* Larger View */

:root {
  --primary-color: rgb(63, 1, 90);
  --heading-color: #a59090ee;
}

body {
  max-width: 1700px;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
}

/* header stuff */
header div {
  text-align: center;
  padding: 15px 0;
  display: flex;
  background-color: var(--primary-color);
  justify-content: center;
  align-content: center;
  gap: 40px;
}

header img {
  width: auto;
  height: 130px;
}

header h1 {
  font-size: 45px;
  color: orange;
}

/* Hamburger */
#menu {
  display: none;
}

/* header nav */
header nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: 10px 5px;
}

header nav a {
  font-size: 25px;
  text-decoration: none;
  color: var(--heading-color);
}

header nav a:hover {
  font-size: 30px;
  color: #eeee;
  border-bottom: 1px solid #eee;
}

header nav a:active {
  color: orange;
}

.active::before {
  content: "📍";
}

/* main */
main {
  max-width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-align: center;
}

main section:last-of-type {
  grid-row: 2/3;
  grid-column: 1/3;
  align-content: center;
}

figcaption {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  padding-top: 4px;
}

section {
  border: 1px solid black;
  margin: 10px;
  border-radius: 30px;
}

section h1 {
  display: block;
  background-color: var(--primary-color);
  margin: 0;
  border-radius: 28px 28px 0 0;
  padding: 5px;
  color: var(--heading-color);
}

/* certifcate section */

/* certificate nav */
#nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px;
}

button {
  width: 200px;
  border-radius: 5px;
  padding: 5px;
  background-color: black;
  color: var(--heading-color);
  font-weight: 500;
  font-size: 25px;
}

button:hover {
  background-color: orange;
  color: var(--primary-color);
}

/* courses */
#courses {
  border-top: 1px #a58d8d solid;
  padding: 30px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 25px;
  place-items: center;
}

#courses div {
  background-color: #a58d8d;
  display: block;
  width: 400px;
  border-radius: 30px;
  border: #a58d8d 1px solid;
}

#cred {
  font-size: 25px;
  font-style: italic;
  font-weight: 100;
}

/* footer */
footer {
  background-color: rgb(63, 1, 90);
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: medium;
}

footer p:first-of-type {
  padding-top: 15px;
  color: aliceblue;
}

footer p:last-of-type {
  padding-bottom: 15px;
  color: yellow;
}
